.blink {
    -unity-background-image-tint-color: rgb(255, 241, 0);
}

.root {
    background-image: url("project://database/Assets/Art/TEMPORARY_ASSETS/TEMP_BG_fm_purple.jpg?fileID=2800000&guid=8cd037ca70f5e784b817a8f4ee791c08&type=3#TEMP_BG_fm_purple");
    -unity-background-image-tint-color: rgb(89, 76, 76);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    height: 100%;
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgb(26, 26, 26);
    width: auto;
    font-size: 23px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-size: cover;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/LiberationSans.ttf?fileID=12800000&guid=e3265ab4bf004d28a9537516768c1c75&type=3#LiberationSans");
}

.tab-button {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: bold;
    width: 1000px;
}

.tab-button.selected {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: bold;
    background-color: rgb(201, 93, 255);
}

Slider {
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 75%;
    align-self: center;
}

Button:focus {
    background-color: rgb(255, 110, 0);
}

Button:hover {
    background-color: rgb(255, 138, 0);
}

.spacer {
    max-height: 50px;
}
