.blink {
    -unity-background-image-tint-color: rgb(255, 241, 0);
}

.root {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    height: 100%;
    width: auto;
    font-size: 23px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/LiberationSans.ttf?fileID=12800000&guid=e3265ab4bf004d28a9537516768c1c75&type=3#LiberationSans");
    -unity-text-outline-width: 5px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
}

.tab-button {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: bold;
    width: 1000px;
}

.tab-button.selected {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: bold;
    background-color: rgb(201, 93, 255);
}

Slider {
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 75%;
    align-self: center;
}

Button:focus {
    background-color: rgb(255, 110, 0);
}

Button:hover {
    background-color: rgb(255, 138, 0);
}

.spacer {
    max-height: 50px;
}
