.blink {
    -unity-background-image-tint-color: rgb(255, 241, 0);
}

.root {
    background-image: url("project://database/Assets/Art/TEMPORARY_ASSETS/TEMP_BG_fm_purple.jpg?fileID=2800000&guid=8cd037ca70f5e784b817a8f4ee791c08&type=3#TEMP_BG_fm_purple");
    -unity-background-image-tint-color: rgb(89, 76, 76);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    height: 100%;
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgb(26, 26, 26);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: auto;
    font-size: 23px;
}

.tab-button {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: normal;
    width: 1000px;
}

.tab-button.selected {
    font-size: 23px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    -unity-font-style: bold;
    background-color: rgb(201, 93, 255);
}

Slider {
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 75%;
    align-self: center;
}
