:root {
}

.player_container {
    flex-direction: row;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    align-items: center;
    background-image: url("project://database/Assets/Art/UI%20Backgrounds/Healthbar/HealthbarBack.png?fileID=2800000&guid=9e73736742f7c2041b2f9c9f153f8865&type=3#HealthbarBack");
    background-size: 135% 100%;
}

.fainted .player_container {
    -unity-background-image-tint-color: rgb(139, 0, 0);
    background-color: rgba(139, 0, 0, 0.68);
}

.player_meter {
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
}

.meter_icon {
    width: 24px;
    height: 24px;
}

.health > .meter_icon {
    background-color: rgb(0, 250, 0);
    background-image: url("project://database/Assets/Plugins/FMOD/images/AddIcon.png?fileID=2800000&guid=3300e81f02e64924eb7cb7782713b126&type=3#AddIcon");
}

.flowstate > .meter_icon {
    background-image: url("project://database/Assets/Plugins/FMOD/images/TransportStopButtonOn.png?fileID=2800000&guid=eab53cb0959d1244aadeacf8b76c755c&type=3#TransportStopButtonOn");
}

.accuracy_markers {
    position: absolute;
    bottom: -20%;
    left: 0%;
    rotate: 10deg;
    font-size: 50px;
    -unity-font-style: bold;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.accuracy_splash {
    top: 20px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-out-bounce;
}

.Bad {
    color: rgb(255, 0, 0);
}

.OK {
    color: rgb(255, 165, 0);
}

.Great {
    color: rgb(255, 235, 4);
}

.Perfect {
    color: rgb(0, 255, 0);
}

.faint_text {
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -unity-text-outline-width: 7px;
    letter-spacing: -3px;
    background-color: rgba(26, 26, 26, 0.45);
}

.player_container .faint_text {
    opacity: 0;
}

.player_container.fainted .faint_text {
    opacity: 1;
}

.meter #unity-progress-bar {
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.meter .unity-progress-bar__background {
    background-color: rgb(51, 51, 51);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.health .meter .unity-progress-bar__progress {
    -unity-material: url("project://database/Assets/Art/UI%20Backgrounds/Healthbar/ColoredMeters.shadergraph?fileID=-876546973899608171&guid=a8f74c7a88d76e34baa79a83ac73db9b&type=3#ColoredMeters") prop("_isHealthbar" 1) prop("_Progress" 0.5);
}

.flowstate .meter .unity-progress-bar__progress {
    -unity-material: url("project://database/Assets/Art/UI%20Backgrounds/Healthbar/ColoredMeters.shadergraph?fileID=-876546973899608171&guid=a8f74c7a88d76e34baa79a83ac73db9b&type=3#ColoredMeters") prop("_isFlowstate" 1) prop("_Progress" 0.5);
}
